<div class="row">
    <h1><%= @recipe.name %></h1>
    
    <h3>Ingredients</h3>
    <p><%= @recipe.ingredients %></p>

    <h3>Cooking Time</h3>
    <p><%= @recipe.cook_time %></p>
 



<div class="row">
    <form class="delete" action="/recipes/<%= @recipe.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
    </form>
</div>

<ul>
<li><a href="/recipes/<%= @recipe.id %>/edit">Edit this recipe</a></li>
<li><a href="/recipes/new">Add new recipe</a></li>
<li><a href="/recipes">See all recipes</a></li>
</ul>